body{
	font-family: Arial, Raleway, sans-serif !important;
}
/*------------ Navbar ----------------*/
nav h1{
	font-size: 1.5rem;
}
nav .img-fluid{
	width: 10%;
	flex-basis: 90px;
}
nav img{
	width: 100%;
	border-radius: 50%;
}
.bold-p{
	font-weight: 500;
	font-size: 1.1rem;
}
.nav-left, .nav-right{
	width: 50%;
}
@media(max-width: 840px){
	nav{
		flex-direction: column !important;
		text-align: center;
	}
	nav .img-fluid{
		width: 20%;
		text-align: center !important;
	}
	nav img{
		width: 80%;
		margin-bottom: 0.5rem;
	}
	.nav-left{
		flex-direction: column !important;
		justify-content: center;
	}
	.nav-left, .nav-right{
		width: 100%;
	}
	.nav-right.text-end{
		text-align: center !important;
	}

	/*----- help-home -----*/
	#help-home{
		flex-direction: row;
		justify-content: center;
	}

	footer .help-home{
		flex-direction: column;
		align-items: center;
	}
}
@media(max-width: 610px){
	nav .img-fluid{
		width: 30%;
		text-align: center !important;
	}
	nav img{
		width: 80%;
	}
}
@media(max-width: 440px){
	nav h1{
		font-size: 1.2rem;
	}
	.bold-p{
		font-weight: 500;
		font-size: 0.8rem;
	}
	nav .img-fluid{
		width: 45%;
		text-align: center !important;
	}
	nav img{
		width: 70%;
	}
	#welcome h2{
		font-size: 1.1rem;
	}
	p{
		font-size: 0.9rem;
	}

	#privacy span{
		font-family: 2rem;	
	}

	footer .help-home a{
		font-size: 0.8em;
	}
}

/*--------------- help-home ------------*/
#help-home{
	margin-top: 1rem;
	display: flex;
	flex-direction: row-reverse;
}
.help-home a{
	text-decoration: none;
	border: 1px solid gray;
	box-shadow: 2px 2px 10px gray;
	color: black;
	padding: 0.5rem;
	font-weight: 500;
	border-radius: 5px;
}
/*------------main------------*/
#welcome .col-12{
	width: 70%;
	margin: auto;
}
.button a{
	text-decoration: none;
	color: white;
}
.button a:hover{
	color: white;
}
@media(max-width: 992px){
	#welcome .col-12{
		width: 90%;
	}
}
@media(max-width: 768px){
	#welcome .col-12{
		width: 100%;
	}
}

/*---- privacy section -----*/
#privacy span{
	font-family: 3rem;
	font-weight: bolder;
}

/*------------ footer --------*/
footer .help-home{
	display: flex;
	justify-content: center;
}
footer .help-home a{
	margin-left: 0.5rem;
	display: inline-block;
}
footer img{
	width: 10%;
}
@media(max-width: 840px){
	footer img{
		width: 35%;
		margin-bottom: 0.5rem;
	}
}

/*============ page 2 =============*/

/*------- card-header -------*/
.card-header{
	font-size: 1.4rem; 
	font-weight:bold;
}
.card h3, .card h4{
	font-size: 1.4rem;
}
@media(max-width: 440px){
	.card-header{
		font-size: 1.2rem !important;
	}
	.card h3, .card h4{
		font-size: 1.1rem;
	}
}

/*=============== page3 ================*/
#confirmation .card-header{
	font-size: 1rem; 
	font-weight: normal;
}
#confirmation input{
	width: 40%;
}
@media(max-width: 992px){
	#confirmation input{
		width: 50%;
	}
}
@media(max-width: 700px){
	#confirmation input{
		width: 70%;
	}
}
@media(max-width: 500px){
	#confirmation input{
		width: 100%;
	}
}
#confirmation input + a{
	text-decoration: none;
	display: inline-block;
	margin-top: 0.5rem;
}